<div>
    <div class="container-fluid">
        <div class=" text-center m-2 p-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{book?.nameBook}}</h5>
                    <p class="card-text">{{book?.authorBook}}</p>
                    <p class="card-text">{{book?.type}}</p>
                    <button class="btn btn-success" (click) ="onClick">Buy</button>   
                </div> 
            </div>
        </div>
    </div>
</div>    

