

<nav class="navbar navbar-light" style = "background-color: #023047;">
  <div class="d-flex nav justify-content-between">
    <a class="navbar-brand" routerLink="/login"*ngIf="!isLogged">Login</a>
    <a class="navbar-brand" routerLink="/home" *ngIf="isLogged">Home</a>
    <a class="navbar-brand" routerLink="/create-book" *ngIf="isLogged"> Create book</a>
   </div>
    <div class ="d-flex nav justify-content-end" *ngIf="isLogged">
      <form class="d-flex p-2">
        <input class="form-control me-2 p-2 mr-2 mt-2" type="search" placeholder="Search" aria-label="Search" >
        <button class="btn btn-outline-success mt-2 mb-1" type="submit" id="searchButton" >Search</button>
      </form>
      <button class ="btn btn-danger mb-3 mt-3 " (click)="onLogout()" id="logOutButton">Logout</button>
    </div>
</nav>

<router-outlet></router-outlet>