#welcome
    color: #fff

#Comments
    color: #fff
    font-size: 50px
    font-family: Courier New, monospace	

.container-fluid
    background-color: rgba(10,23,55,0.1)

#text
    font-style: italic

#title
    font-weight: bold

#body
    font-style: italic
    font-weight: 500    
  