 
 <div class="d-flex justify-content-start mt-4 mb-5 fs-5" id="welcome" *ngIf="user?.username != null">
   <h1>{{'Hello,' + user?.username}}!! </h1>  
 </div>
  
<div class="text-center">
  <h2 id="header" class="text-center">Books Available: </h2>
</div>

<div id="container" class="d-flex flex-wrap justify-content-center align-itens-center">
<app-book-preview *ngFor ="let book of book" [book]="book" (clickEvent) ="onClick($event)"></app-book-preview>
</div>

<div>
  <h2 id="header" class="text-center m-4">Comments </h2>
</div>

<div id ="container" class ="d-flex justify-content-center flex-wrap">
  <app-info-card *ngFor="let comment of comments" [comment]="comment" (clickEvent)="onClick($event)"></app-info-card>
</div> 

<ngx-spinner 
 bdColor="rgba(122,41,122,0.8)"
size="medium"
color="#fff"
type="ball-clip-rotate-multiple" ></ngx-spinner>

